/* TODO: only apply to axis labels? */
svg * { font: 12px Arial;
  color: white;
  line : white
 }
		

/* font styles */
.text-bold { font-weight: bold; }

/* #69b3a2 : light green */
/* Style the lines by removing the fill and applying a stroke */
.no-fill        { fill: none; }
.no-display     { display: none; }
.stroke-light   { stroke-width: 2; }
.stroke-med     { stroke-width: 3; }
.dashed         { stroke-dasharray: 4,4; }
.stroke-blue    { stroke: #004080; }
.stroke-blue-o { stroke: #008000; }
.stroke-green   { stroke: #008040; }
.stroke-green-o  { stroke: #66ff00;}
.stroke-red     { stroke: #804000; }
.stroke-red-o     { stroke: #800000; }
.stroke-gray-0  { stroke: #cccccc; }
.stroke-yellow  { stroke: #FFFF00;}
.stroke-orange  { stroke: #ffa500;}


/* bounding box */
.domain { display: none; }

.grid line { stroke: #cccccc; }

.width-1 { width: 240px; }
.width-2 { width: 320px; }

.width-4 { width: 640px; }
.width-5 { width: 960px; }

.width-3 {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 480px; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.text-bold {
	color: white
}

.text-bold-1 {
  font-weight: bold;
}

label {
	color: white

}

output {
	color: white
}

callback_description {
	color: white
}


.callback_description1 {
	color: white
}

strategy {
  background: #d3d3d3; /* Grey background */
}

.title {
	color: white
}


body {
	background-color:rgb(72,72,72);
	color: white;
}

th {
  text-align: left;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

output {
  display: inline;
}


.container{
    /*display: flex;*/
    overflow: hidden
}

.fixed{
	float: left ;

    width: 400px;
}
.flex-item{
    /*flex-grow: 1;*/
    float: right;
	margin-right:70px;
	margin-top:20px

}

textarea {
	background-color: #686868;
	font-color: white;
	border-width: 5px;
}

a {
    color: #46BCDB;
}
a:visited {
    color: #46BCDB;
}
a:hover {
    color: #99D4E4;
}

