/* TODO: only apply to axis labels? */
svg * { font: 12px Arial; }

/* Style the lines by removing the fill and applying a stroke */
path {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/* bounding box */
.domain { display: none; }

.grid line { stroke: #cccccc; }

.timei { stroke: #004080; }
.timeq { stroke: #008040; stroke-dasharray: 4,4; }
.psd   { stroke: #804000; }

.slider {
    width: 640px;
}
